<h1>文章列表</h1>

<%= link_to "新增文章", new_blog_path %>

<ul>
  <% @articles.each do |article|%>
  <li>
    <%= link_to article.title, article%>
    <%= link_to "update", edit_article_path(article)%>
    <%= link_to "delete", article, method:"delete", data:{confirm: "Are you sure?"}%>
  </li>

  <% end %>
</ul>
